adafruit-ampy==1.1.0
argcomplete==3.5.0
async-timeout==4.0.3
attrs==23.1.0
autoflake==2.3.1
beautifulsoup4==4.12.3
bitarray==2.9.2
bitstring==4.2.3
black==22.12.0
bleak==0.20.2
bleak-sigspec==0.0.4
boltons==23.0.0
cachetools==5.5.0
cachier==2.0.0
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.3
colorama==0.4.6
cryptography==43.0.0
Deprecated==1.2.14
dill==0.3.8
distlib==0.3.6
dpath==1.5.0
ecdsa==0.19.0
esptool==4.7.0
gitdb==4.0.11
GitPython==3.1.31
idna==3.8
importlib-metadata==5.2.0
intelhex==2.3.0
Jinja2==3.1.2
jsonschema==3.2.0
libcst==0.4.10
loguru==0.6.0
mailbits==0.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
micropy-cli==4.2.2
micropython-stubber==1.13.7
mypy==1.2.0
mypy-extensions==1.0.0
netifaces==0.11.0
nodeenv==1.9.1
packaging==21.3
pathspec==0.12.1
pathtools==0.1.2
pipx==1.7.1
platformdirs==4.2.2
portalocker==2.10.1
prompt_toolkit==3.0.47
pycparser==2.22
pydantic==1.10.9
pyflakes==3.2.0
PyGithub==1.59.1
Pygments==2.18.0
PyJWT==2.9.0
PyNaCl==1.5.0
pyobjc-core==9.2
pyobjc-framework-Cocoa==9.2
pyobjc-framework-CoreBluetooth==9.2
pyobjc-framework-libdispatch==9.2
pyparsing==3.1.4
pypi-simple==1.1.0
pyright==1.1.377
pyrsistent==0.20.0
pyserial==3.5
pysondb-v2==2.2.0
python-dotenv==1.0.1
python-minifier==2.9.0
python-nmap==0.7.1
pyudev==0.24.3
PyYAML==6.0.2
questionary==1.10.0
reedsolo==1.7.0
requests==2.31.0
requirements-parser==0.2.0
rich==13.7.1
rshell==0.0.31
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
soupsieve==2.6
tabulate==0.9.0
tenacity==8.5.0
tomli==2.0.1
tomli_w==1.0.0
tqdm==4.65.0
typed-config==1.5.0
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.6.3
unsync==1.4.0
upydevice==0.3.8
urllib3==2.2.2
userpath==1.9.2
watchdog==4.0.2
wcwidth==0.2.13
wrapt==1.16.0
zipp==3.20.0
